.card-columns
{
  column-count: 5;
}
.card{
  border: none;
}
@media screen and (max-width: 1200px) {
.card-columns
{
  column-count: 3;
}
.card-text{
  font-size: 2rem;
}
}
@media screen and (max-width: 1000px) {
.card-columns
{
  column-count: 2;
}
}
